extends layout

block content
    title= title
    h2 Created categories
    ul
        each item in items
            li= item.categoryName
            form(action="/categories/delete", method="POST" style="display: inline-block;")
                input(type="hidden", name="categoryId", value= item._id)
                button(type="submit") Delete

    h2 Add new category
    form(action="/categories/add", method="POST")
        label(for="categoryName") Category Name:
        input(type="text", name="categoryName", required)
        button(type="submit") Add category