extends layout

block content
    title= title
    h2 Restaurants
    ul
        each restaurant in restaurants
            li
                h3= restaurant.name
                p Address: #{restaurant.address}
                form(action=`/restaurants/delete/${restaurant._id}`, method="POST" style="display: inline-block;")
                    button(type="submit") Delete

    h2 Create a New Restaurant
    form(action="/restaurants/create", method="POST")
        label(for="name") Name:
        input(type="text", name="name", required)
        label(for="address") Address:
        input(type="text", name="address", required)
        button(type="submit") Create